{% set parent_id = parent_id|default(null) %}
{% set model = createModel('Category','category') %}
{% set items = model.where('parent_id','=',parent_id)  %}
{% if branch is not empty %}
    {% set items = items.where('branch','=',branch) %}
{% endif %}
{% set items = paginate(items,'category') %}  

{{ component_id }}
<div 
    id="{{ component_id }}"
    aria-orientation="vertical"
    data-tree-view
    role="tree"  
    class="rounded-sm accordion">
    {% for category in items.getItems() %}
        {{ component('category::admin.view.item',{ category: category }) }}
    {% endfor %}
</div>