{% set parent_id = parent_id|default(null) %}
{% set model = createModel('Category','category') %}
{% set items = model.where('parent_id','=',parent_id)  %}
{% if branch is not empty %}
    {% set items = items.where('branch','=',branch) %}
{% endif %}
{% set items = paginate(items,'category') %}  
<div     
    aria-orientation="vertical"
    class="--prevent-on-load-init hs-accordion-group">
    {% for item in items.getItems() %}
        {{ component('category::admin.view.item',{ item: item }) }}
    {% endfor %}
</div>