{% set model = createModel('Category','category') %}
{% set items = model.selectRaw('distinct branch as branch').get() %}

<select 
    class="{{ theme.form.select }} {{ class }}" 
    id="{{ id|default('branch_dropdown') }}" 
    name="{{ name|default('branch_dropdown') }}"
    aria-placeholder="{{ labels.choose }}"
    title="{{ labels.branch }}">
    <option 
        {{ (item.branch is empty) ? 'selected' : '' }}
        value="">
        {{ labels.all }}
    </option>
    {% for item in items %}
        {% if item.branch is not empty %}
        <option 
            {{ (item.branch is empty) ? 'selected' : '' }}
            value="{{ item.branch }}">          
            {{ item.branch }}             
        </option>
        {% endif %}
    {% endfor %}   
</select>