{% component 'semantic~tabs.vertical.content' %}
{% set language = language|default(current_language) %}
{% if uuid is not empty %}
    {% set category = createModel('Category','category').findById(uuid) %}
    {% set translation = category.translation('en') %}    
{% endif %}
<div class="mt-2"> 
    <div class="ui segment">
        <h4>{{ labels.language }}</h4>
        {{  component('semantic~language.dropdown',{
                name: 'language', 
                id: 'choose_translation_language', 
                selected: language, 
                class: 'inline search selection' 
            }) 
        }}     
        {% if hasExtension('translations') == true %}
            {{  component('translations::admin.translate.button',{
                    model: 'CategoryTranslations',
                    extension: 'category', 
                    language: language,
                    uuid: translation.uuid,
                    icon: 'language blue',
                    class: 'basic right floated',
                    callback: 'applyTranslation',
                    fields: 'title,description'                
                }) 
            }}       
        {% endif %}      
    </div> 
    <div class="mt-2" id="category_translations_content" category-uuid="{{ uuid }}">
        {{ component('category::admin.edit.translations.form',{ uuid: uuid, language: language }) }}
    </div>
</div>  
{% endcomponent %}