{% set full_title = category.getTitle() %}
<div class="ui dropdown actions-dropdown">
    <i class="ellipsis vertical icon"></i>
    <div class="menu">                 
        <div 
            mountTo="category_details"
            component="category::admin.edit"
            params="uuid:{{ category.uuid }}"
            class="item category-action" 
            {{ buttons.edit.title|attr('title') }}>
            <i class="icon edit"></i>
            {{ buttons.edit.content }}
        </div>
        <div 
            class="item delete-button" 
            uuid="{{ category.uuid }}" 
            {{ buttons.delete.title|attr('title') }}  
            data-title="{{ full_title|string(' / ') }}">
            <i class="icon orange trash"></i>
            {{ buttons.delete.content }}
        </div>
        <div 
            mountTo="category_details"
            component="category::admin.add"
            params="parent_id:{{ category.id }},branch:{{ category.branch }}"
            class="item category-action"          
            {{ buttons.add.title|attr('title') }}>
            <i class="icon plus"></i>
            {{ buttons.add.content }}
        </div>
        {% if category.status == 1 %}
        <div class="item disable-button" uuid="{{ category.uuid }}" {{ buttons.disable.title|attr('title') }} parent-id="{{ category.parent_id }}" parent-uuid="{{ category.parent.uuid }}">
            <i class="icon eye slash outline"></i>
            {{ buttons.disable.content }}
        </div>
        {% else %}
        <div class="item enable-button" uuid="{{ category.uuid }}" {{ buttons.enable.title|attr('title') }} parent-id="{{ category.parent_id }}" parent-uuid="{{ category.parent.uuid }}">
            <i class="icon eye outline"></i>
            {{ buttons.enable.content }}
        </div>
        {% endif %}
        <div 
            mountTo="category_details"
            component="category::admin.details"
            class="item category-action" 
            params="uuid:{{ category.uuid }}" 
            {{ buttons.details.title|attr('title') }}>
            <i class="icon info"></i>
            {{ buttons.details.content }}
        </div>       
    </div>
</div>     