<div class="flex flex-row items-center {{ theme.panel }}">  
    <button 
        mountTo="category_details"
        component="category::admin.add"
        title="{{ tooltip.create }}"
        class="{{ theme.buttons.green }} create-category">
        {{ buttons.create }}
    </button>
    <div class="ml-4 flex flex-row items-center">
        <div class="px-2 font-bold">
            {{ labels.branch }}
        </div>
        {{  component('category::admin.branch',{ 
                class: 'select-sm' 
            }) 
        }} 
    </div>    
</div>

<div class="mt-4 flex flex-row items-start w-full"> 
    <div class="w-2/3 "> 
        <div 
            id="category_rows" 
            component="category::admin.view.items" 
            namespace="category" 
            branch="{{ branch }}">
            {{  component('category::admin.view.items',{ 
                    parent_id: parent_id|default(null), 
                    id: 'category_tree',
                    branch: branch 
                }) 
            }}   
        </div>
        <div class="mt-2" id="paginator">
        </div>
    </div>   
    <div 
        class="w-1/2 hidden ml-4" 
        id="category_details">
    </div>
</div>
