{% set language = current_language %}
{% set items = [
    { id: 'language_button',icon: 'list',active: true,component: 'category::admin.menu',params: { language: language },title: labels.view },
    { id: 'translations_button',icon: 'language',component: 'category::admin.translations',title: labels.translations }
   ] 
%}

{{  component('components:tabs',{ 
        items: items,
        menu: { component: 'system:admin.extensions.menu.actions', extension: 'category' },
        content: { component: 'category::admin.menu', params: { language: language } } 
    })
}}
