{% set name = name|default('category') %}
{% set data_type = data_type|default('id') %}
{% set id = id|default('category_dropdown') %}
{% set selected = selected|default(null) %}
{% set exclude = exclude|default([]) %}
{% set category = createModel('Category','category') %}
{% if selected is not empty %}
    {% set selected_text = category.findById(selected).getFullTitle() %}
{% endif %}
{% set items = category.getList() %}

{% set tree = category.getTree() %}


<div 
    class=" {{ class }}" 
    id="{{ component_id }}">
    <input 
        rule="{{ rule }}"
        name="{{ name }}" 
        id="{{ name }}" 
        type="hidden" 
        value="{{ selected }}"> 
    <div class="text" title="{{ selected_text }}">
        {{ (selected_text is not empty) ? selected_text : default }}
    </div>    
    

    {{ component('system:admin.view.tree',{ items: tree }) }}
</div>