{% component 'components:tabs.vertical.content' %}
<div class="ui segment">
    <h4>{{ labels.language }}</h4>
    {{  component('components:language.dropdown',{
            name: 'language',
            id: 'choose_language',
            selected: language,
            class: 'inline search selection' 
        })
    }}  
    <div class="ui mt-2" id="form_content"> 
        {{  component('category::admin.form',{ 
                parent_id: parent_id,
                language: language, 
                branch: branch    
            }) 
        }}
    </div> 
</div>
{% endcomponent %}