{% if uuid is not empty %}
    {% set category = createModel('Category','category').findById(uuid) %}
{% endif %}
{% component 'semantic~panel' %}
    {{ component('semantic~view.image',{ model: category }) }} 
    <table class="ui very basic definition table">
        <tbody>
            <tr>
                <td class="right aligned">{{ labels.uuid }}</td>
                <td>
                    <div class="ui basic label">{{ category.id }}</div>
                    {{ category.uuid }}
                </td>
            </tr>
            <tr>
                <td class="right aligned">{{ labels.status }}</td>
                <td>
                    {{ component('semantic~status.label',{ status: category.status }) }}
                </td>
            </tr>    
            <tr>
                <td class="right aligned">{{ labels.title }}</td>
                <td>{{ category.title }}</td>
            </tr>
            {% if category.description is not empty %}
            <tr>
                <td class="right aligned">{{ labels.description }}</td>
                <td>{{ category.description }}</td>
            </tr>
            {% endif %}
            {% if category.branch is not empty %}
            <tr>
                <td class="right aligned">{{ labels.branch }}</td>
                <td>{{ category.branch }}</td>
            </tr>
            {% endif %}
            
            <tr>
                <td class="right aligned">{{ labels.slug }}</td>
                <td>{{ category.slug }}</td>
            </tr>
            <tr>
                <td class="right aligned">{{ labels.icon }}</td>
                <td>
                    {{ category.icon }}                    
                </td>
            </tr>
            <tr>
                <td class="right aligned">{{ labels.user }}</td>
                <td>{{ category.user.username_or_email }}</td>
            </tr>
        </tbody>
    </table>   
    
    <h4 class="mt-4">
        {{ labels.relations }}
    </h4>
    {{  component('system:admin.orm.relations.view',{ 
            uuid: category.uuid,
            extension: 'category',
            model: 'CategoryRelations',
            id: category.id 
        }) 
    }}

    {{ component('semantic~view.metatags',{ model: category }) }}    
{% endcomponent %}