{% set has_child = item.hasChild() %}
{% set title = item.title %}
<div 
    class="hs-accordion" 
    id="{{ item.id }}">
    <div class="flex flex-row items-center gap-4">   
        <button 
            has-child="{{ has_child }}"
            uuid="{{ item.uuid }}"
            parent-id="{{ item.id }}"
            class="{{ item_heading_class }} item-toggle hs-accordion-toggle hs-accordion-active:text-primary-active hover:text-muted-foreground-1 focus:outline-hidden focus:text-muted-foreground-1 disabled:opacity-50 disabled:pointer-events-none" 
            aria-expanded="false" 
            aria-controls="{{ item.uuid ~ '_content' }}">      
            {{ component('icons~plus',theme.icons.gray,'svg') }}                  
        </button>
        <div class="flex flex-row items-center gap-2">
                {% if item.status == 1 %}
                    {{ component('icons~check',theme.icons.green,'svg') }}      
                {% else %}
                    {{ component('icons~close',theme.icons.delete,'svg') }}     
                {% endif %}
                <button 
                    mountTo="category_details"
                    component="category::admin.add"
                    params="parent_id:{{ item.id }}"
                    class="{{ theme.butons.icon }} item-action" 
                    {{ labels.add|attr('title') }}>
                    {{ component('icons~plus',theme.icons.menu,'svg') }}
                </button> 
                <button 
                    mountTo="category_details"
                    component="category::admin.edit"
                    params="uuid:{{ item.uuid }}"
                    class="{{ theme.butons.icon }} item-action" 
                    {{ labels.edit|attr('title') }}>
                    {{ component('icons~edit',theme.icons.menu,'svg') }}
                </button> 
                <button 
                    class="{{ theme.butons.icon }} delete-item" 
                    {{ buttons.delete.title|attr('title') }} 
                    uuid="{{ item.uuid }}" 
                    data-title="{{ item.name }}">
                    {{ component('icons~trash',theme.icons.delete,'svg') }}
                </button> 
        </div>    
        <div class="flex-grow w-full">         
            {{ item.title }}
        </div>  
    </div>  
    <div 
        id="{{ item.uuid ~ '_content' }}" 
        class="{{ item_class|default('pl-4') }} hs-accordion-content hidden overflow-hidden transition-[height] duration-300" 
        role="region" 
        aria-labelledby="{{ item.id }}">
        <div
            id="{{ item.uuid ~ '_child_content' }}" 
            class="w-full">
            <div class="flex flex-row items-center">
                <div>
                    
                </div>
                <p class="flex-grow px-4 text-foreground">                  
                    {{ item.description|default('...') }}
                </p>
            </div>   
        </div>
                     
    </div>
</div>

     
